.url-shortner-div {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 10px;
  max-width: 700px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.short-urls {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  gap: 10px;
  margin: auto;
}

input {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  outline: none;
  margin-bottom: 10px;
  border-radius: 10px;
}

.short-url {
  color: rgb(10, 91, 222);
  font-size: 20px;
  background-color: #dff0d8;
}

.short-url:hover {
  background-color: #c8e5bc;
}

.url-shortner-div button {
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
}

.url-shortner-div button:hover {
  background-color: #096b57;
}

.all-urls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  max-width: 600px;
}

.url-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.url-short-id {
  font-weight: bold;
  color: black;
}

.url-redirect {
  color: rgb(10, 91, 222);
  font-weight: bold;
  overflow: scroll;
}
